modal-header {
  .modal-header .modal-title {
    font-size: 20px;
    color: #636363;
  }
  .modal-header .close-icon {
    margin-top: 5px;
  }
  .modal-header button.close {
    margin-top: 3px;
  }
}